.appCard{
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 150px;
}

.image{
    height: 100px;
    width: 100px; 
}

.imageContainer{
    display: flex;
    justify-content: center;
}

.topNumber{
    font-size: 20px;
}

.bottomNumber{
    display: flex;
    font-size: 20px;
    justify-content: flex-end;  

}