.appComponent{
    border: 10px solid blue;
    height:1200px;
    display: flex;
    flex-wrap: wrap;
}

.cardsContainer{
    display:flex;
    flex-wrap: wrap;
}

.shuffleButton{
    display: flex;
    flex-wrap: wrap;
    height: 30px;
}